{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="page-header">
		  <h1>Como Funciona</h1>
		</div>
		
		<p class="text-justify">O sistema do <b>Eu Cidadão</b> efetua uma varredura nas proposições da Câmara dos Deputados e dispara uma enquete aos deputados solicitando como votarão em proposições dentro da casa.</p>

		<p class="text-justify">Para o cidadão, você, que assinou o sistema, os resultados das enquetes irão chegar em sua conta de e-mail e/ou SMS, e você saberá como seu deputado está votando para as proposições que estão sendo apresentadas na Câmara.</p>

	</div>

{% endblock %}