{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="inscreva">
                        <h3 class="text-center">Assine o sistema</h3>
                        <p class="lead text-center">Receba relatório de como seu Deputado votará em proposições na Câmara dos Deputados.</p>

                        {% include '_alerta_sistema.twig' %}
                        {{ form_start(signupForm) }}
                            {{ form_widget(signupForm) }}
                            <p class="text-center">
                                <button type="submit" class="btn btn-success btn-lg"><span class="fa fa-check"></span> ASSINAR</button>
                            </p>
                        {{ form_end(signupForm) }}
                        <br>
                        <div class="alert alert-info">
                            <p><b>Os dados fornecidos não são divulgados a terceiros nem utilizados para envio de SPAM</b>. <a href="{{ path('privacidade') }}">Leia nossa Política de Privacidade</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
