{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="page-header">
		  <h1>Política de Privacidade</h1>
		</div>
		
		<p class="text-justify"></p>

		<p class="text-justify"></p>

	</div>

{% endblock %}