body {
	font-family: Roboto, sans-serif;
}
footer {
	padding: 30px 0;
}
.navbar {
	margin-bottom: 0;
}

/**
 * HOME BANNER
 */
.banner {
	background: transparent url('../images/congresso.jpg') center no-repeat;
	background-size: cover;
	min-height: 770px;
	padding: 30px 0;
}
.banner .inscreva { color: #fff; }
.banner .inscreva h3 {
	font-family: Anton, sans-serif;
	font-size: 40px;
	text-shadow: 1px 1px 2px #222;
}
.banner .inscreva .lead {
	text-shadow: 1px 1px 2px #222;
	font-weight: bold;
}

/**
 * FORM SIGNUP
 */
.inscreva form {
	background-color: #fff;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 1px 1px 2px #333;
	color: #555;
}

.deputado-foto {
	border: 3px solid #ddd;
}

#filtro_deputado .form-control,
#filtro_proposicao .form-control {
	margin-left: 5px;
	margin-right: 5px;
}